* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --neutral-white: #fff;
    --neutral-black: #000;

    --primary-color: #004444;
    --secondary-color: #005151;
    --tertiary-color: #d9e6e6;
    --quaternary-color: #b0cccc;

    --modal-background: #002828e4;
    --light-background: #fcfdfd;

    --border-input: #B2BBC6;

    --button-primary-background: #005a5a;
    --button-primary-text: #f8f8f8;
    --button-secondary-background: #d9e6e6;
    --button-secondary-text: #005a5a;
    --button-secondary-border: #005a5a;

}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--neutral-white);
    color: var(--neutral-black);
    font-family: 'Open sans', sans-serif;
}

.container {
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.2rem;
}

.header, .footer {
    background-color: var(--primary-color);
    color: var(--neutral-white);
    padding: 1rem;
    text-align: center;
}

/* -----------------------------header----------------------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 0 0 12px 12px;
}

.header__logo {
    width: 40px;
}

.header__title {
    font-size: 1.6rem; 
}

/* -----------------------------main----------------------------- */

.main {
    flex-basis: 100%;
    flex-grow: 0;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    overflow: hidden;
}

/* options */

.main__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
}

.main__btn {
    background: var(--primary-color);
    color: var(--neutral-white);
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    flex: 1;
}

.main__btn:hover {
    opacity: 0.9;
}

.main__btn:active {
    scale: 0.97;
}

/* table  */

.container-table {
    min-width: 100%;
    border-radius: 8px;
    overflow-y: auto;
}

.contacts-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

.contacts-table__head, .contacts-table__foot {
    background-color: var(--secondary-color);
    color: var(--neutral-white);
}

.contacts-table__head tr th, .contacts-table__body tr td, .contacts-table__foot tr td {
    padding: 0.3em 1em;
    text-align: center;
}

.contacts-table__body tr {
    font-size: 0.94rem;
    cursor: default;
}

.contacts-table__body tr:nth-of-type(odd) {
    background: var(--tertiary-color);
}

.contacts-table__body tr:hover {
    background: var(--quaternary-color);
}

.contacts-table__foot tr td {
    text-align: center;
}
/* -----------------------------footer----------------------------- */

.footer {
    border-radius: 12px 12px 0 0;
}

.footer__link a {
    color: #029a9a;
}

/* -----------------------------modal----------------------------- */

.modal__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: var(--modal-background);
}

.modal__content {
    background-color: var(--light-background);
    padding: 1rem;
    border-radius: 4px;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#form-add-contacts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal__input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1.5px solid var(--border-input);
    border-radius: 4px;
    background: transparent;
    color: var(--neutral-black);
    font-size: 0.9rem;
}

.modal__input:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--border-input);
}

.modal__buttons {
    display: flex;
    gap: 0.5rem;
}

.primary-btn, .secondary-btn {
    font-size: 0.9rem;
    color: var(--neutral-white);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.primary-btn:hover,
.secondary-btn:hover {
    opacity: 0.9;
}

.primary-btn:active,
.secondary-btn:active {
    transform: scale(0.97);
}

.primary-btn {
    background-color: var(--button-primary-background);
    color: var(--button-primary-text);
    border: none;
}

.secondary-btn {
    background: var(--button-secondary-background);
    color: var(--button-secondary-text);
    border: 2px solid var(--button-secondary-border);
    font-weight: bold;
}

.modal__btn {
    flex: 1;
}

.hide {
    display: none;
}

.danger {
    color: red;
    font-size: 0.8rem;
    text-align: center;
}

.delete-btn {
    color: var(--primary-color);
    border: none;
    background: transparent;
}